:root{
    --yellow-text: rgb(164, 164, 5);
    --error-color: rgb(140, 19, 19);
    --room-color: rgb(20, 120, 22);

    --backgroundColo: rgb(16, 20, 4);
    --font: monospace;
}
*{
    font-family: var(--font);
}
body{
    background-color: var(--backgroundColo);
    color: var(--yellow-text);
    font-size: 1.5em;
}

#player-input{
    border: 2px solid var(--yellow-text);
    background-color: var(--backgroundColo);
    font-family: var(--font);
    color: var(--yellow-text);
    width: 100%;
    outline: 2px solid var(--yellow-text);
    font-size: 1em;
}

#output{
    border: 1px solid var(--yellow-text);
    height: 600px;
    white-space: pre-line;
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em;
}

hr{
    color: var(--yellow-text);
    background-color: var(--yellow-text);
    border-color: var(--yellow-text);
}

c-text{
    color: var(--yellow-text);
}

c-error{
   color: var(--error-color); 
}
c-room-name{
    color: var(--room-color); 
}